<body class="secondpage"></body>
<%= form_for(drug) do |f| %>
  <% if drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drug.errors.count, "error") %> prohibited this drug from being saved:</h2>

      <ul>
      <% drug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="infolist">

    <%= f.label :Brand_Name %><br>
    <%= f.text_field :brand_name %><br>
    <%= f.label :Description %><br>
    <%= f.text_field :description %><br>
    <%= f.label :Report %><br>
    <%= f.text_field :report %><br>
    <%= f.label :Control %><br>
    <%= f.text_field :control %><br>
    <%= f.label :Event %><br>
    <%= f.text_field :event %><br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
