<script src="https://api.fda.gov/drug/event.json?api_key=xoGgcwZHxyuCoySIaLq1ZYuhQ8TSJ1Uu5doHLbnv">

</script>
<body class="secondpage"></body>
<p id="notice"><%= notice %></p>

<h1>List of Drugs</h1>

<nav>
  <li><%= link_to "Butylone", butylones_path %></li>
  <li><%= link_to "Alcohol", alcohols_path %></li>
  <li><%= link_to "Ether", ethers_path %></li>
</nav>

<table id="linkD">
  <thead>
    <tr>
      <th colspan="1">Brand Name</th>
      <th colspan="1">Description</th>
      <th colspan="1">Control</th>
      <th colspan="1">Report</th>
      <th colspan="1">Records</th>
      <th colspan="1">Event</th>
      <th colspan="1">Effects</th>
      <th colspan="1">Administration</th>

    </tr>
  </thead>

  <tbody id="SED">
    <% @drugs.each do |drug| %>
      <tr>
        <td><%= link_to 'Show', drug %></td>
        <td><%= link_to 'Edit', edit_drug_path(drug) %></td>
        <td><%#= link_to 'Destroy', drug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drug', new_drug_path %>
