<%= form_for(lsd) do |f| %>
  <% if lsd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lsd.errors.count, "error") %> prohibited this lsd from being saved:</h2>

      <ul>
      <% lsd.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="info">
    <%= f.label :Name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :Title %><br>
    <%= f.text_field :title %><br>
    <%= f.label :Formula %><br>
    <%= f.text_field :formula %><br>
    <%= f.label :Chemistry %><br>
    <%= f.text_field :chemistry %><br>
    <%= f.label :Side_Effects %><br>
    <%= f.text_field :side_effects %><br>
    <%= f.label :Cas_Number %><br>
    <%= f.text_field :cas_number %><br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
