<p id="notice"><%= notice %></p>

<h1>Respects</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @respects.each do |respect| %>
      <tr>
        <td><%= link_to 'Show', respect %></td>
        <td><%= link_to 'Edit', edit_respect_path(respect) %></td>
        <td><%= link_to 'Destroy', respect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Respect', new_respect_path %>
