<p id="notice"><%= notice %></p>

<h1>Envies</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @envies.each do |envy| %>
      <tr>
        <td><%= link_to 'Show', envy %></td>
        <td><%= link_to 'Edit', edit_envy_path(envy) %></td>
        <td><%= link_to 'Destroy', envy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Envy', new_envy_path %>
