<%= form_for(emotion) do |f| %>
  <% if emotion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(emotion.errors.count, "error") %> prohibited this emotion from being saved:</h2>

      <ul>
      <% emotion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="infolist">

    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :Description %>
    <%= f.text_field :description %><br>
    <%= f.label :Effects %><br>
    <%= f.text_field :effects %><br>
    <%= f.label :Control %><br>
    <%= f.text_field :control %><br>
    <%= f.label :Report %><br>
    <%= f.text_field :report %><br>
    <%= f.label :Events %><br>
    <%= f.text_field :event %><br>
    <%= f.label :Component %><br>
    <%= f.text_field :components %><br>
    <%= f.label :Classification %><br>
    <%= f.text_field :classification %><br>
    <%= f.label :Theories %><br>
    <%= f.text_field :theories %><br>
    <%= f.label :Genetics %><br>
    <%= f.text_field :genetics %><br>
    <%= f.label :Neurocircuitry %><br>
    <%= f.text_field :neurocircuitry %><br>
    <%= f.label :Sociology %><br>
    <%= f.text_field :sociology %><br>
    
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
