<body class="homepage">
<p id="notice"><%= notice %></p>

<h1>List of Emotions</h1>

<!-- <table  id="linkE">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Effects</th>
      <th>Control</th>
      <th>Report</th>
      <th>Records</th>
      <th>Event</th>
      <th>Components</th>
      <th>Theories</th>
      <th>Genetics</th>
      <th>Sociology</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <!-- <tbody id >
    <% @emotions.each do |emotion| %>
      <tr>
        <td><%= link_to 'Show', emotion %></td>
        <td><%= link_to 'Edit', edit_emotion_path(emotion) %></td>
        <td><%= link_to 'Destroy', emotion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>

<%= link_to 'New Emotion', new_emotion_path %>

<div class="ctinfo1">

</div>

<div class="ctinfo2">

</div>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<script type="text/javascript">
$(function () {
  $.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=usdeur.json&callback=?', function (data) {

      Highcharts.chart('container', {
          chart: {
            backgroundColor: {
               linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
               stops: [
                  [0, '#2a2a2b'],
                  [1, '#3e3e40']
               ]
            },
              zoomType: 'x'
          },
          title: {
              text: 'Duration rate'
          },
          subtitle: {
              text: document.ontouchstart === undefined ?
                      'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
          },
          xAxis: {
              type: 'Timer'
          },
          yAxis: {
              title: {
                  text: 'Dose Level'
              }
          },
          legend: {
              enabled: false
          },
          plotOptions: {
              area: {
                  fillColor: {
                      linearGradient: {
                          x1: 1,
                          y1: 2,
                          x2: 1,
                          y2: 1
                      },
                      stops: [
                          [0, Highcharts.getOptions().colors[0]],
                          [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                      ]
                  },
                  marker: {
                      radius: 5
                  },
                  lineWidth: 1,
                  states: {
                      hover: {
                          lineWidth: 1
                      }
                  },
                  threshold: null
              }
          },

          series: [{
              type: 'area',
              name: 'Low to High',
              data: data
          }]
      });
  });
});
</script>


</body>
