<%= form_for(fear) do |f| %>
  <% if fear.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fear.errors.count, "error") %> prohibited this fear from being saved:</h2>

      <ul>
      <% fear.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="info">
    <%= f.label :Name %>
    <%= f.text_field :name %><br>
    <%= f.label :Size_mb %><br>
    <%= f.text_field :size_mb %><br>
    <%= f.label :File %><br>
    <%= f.text_field :file %><br>
    <%= f.label :Formula %><br>
    <%= f.text_field :formula %><br>
    <%= f.label :Chemistry %><br>
    <%= f.text_field :chemistry %><br>
    <%= f.label :Cause %><br>
    <%= f.text_field :causes %><br>
    <%= f.label :Theory %><br>
    <%= f.text_field :theory %><br>
    <%= f.label :Psychology %><br>
    <%= f.text_field :psychology %><br>
    <%= f.label :Side_Effects %><br>
    <%= f.text_field :side_effects %><br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
