<%= form_for(sight) do |f| %>
  <% if sight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sight.errors.count, "error") %> prohibited this sight from being saved:</h2>

      <ul>
      <% sight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="info">
    <%= f.label :Subtype %><br>
    <%= f.text_field :subtype %><br>
    <%= f.label :Duration %><br>
    <%= f.text_field :duration %><br>
    <%= f.label :Detection %><br>
    <%= f.text_field :detection %><br>
    <%= f.label :Effect %><br>
    <%= f.text_field :effect %><br>
    <%= f.label :Nervous_System %><br>
    <%= f.text_field :nervous_system %> <br/>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
