<%= form_for(cocaine) do |f| %>
  <% if cocaine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cocaine.errors.count, "error") %> prohibited this cocaine from being saved:</h2>

      <ul>
      <% cocaine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="info">
    <%= f.label :Name %>
    <%= f.text_field :name %><br>
    <%= f.label :Size_mb %><br>
    <%= f.text_field :size_mb %><br>
    <%= f.label :File %><br>
    <%= f.text_field :file %><br>
    <%= f.label :Formula %><br>
    <%= f.text_field :formula %><br>
    <%= f.label :Chemistry %><br>
    <%= f.text_field :chemistry %><br>
    <%= f.label :Legal_status %><br>
    <%= f.text_field :legal_status %><br>
    <%= f.label :Cas_Number %><br>
    <%= f.text_field :cas_number %><br>
    <%= f.label :Side_Effects %><br>
    <%= f.text_field :side_effects %><br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
