<p id="notice"><%= notice %></p>

<h1>Cocaines</h1>

<div class="artwork">

</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Size mb</th>
      <th>Formula</th>
      <th>Chemistry</th>
      <th>Legal Status</th>
      <th>Cas Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cocaines.each do |cocaine| %>
      <tr>
        <td> cocaines.title </td>
        <td> cocaines.size_mb </td>
        <td> cocaines.formula </td>
        <td> cocaines.chemistry </td>
        <td> cocaines.legal_status </td>
        <td> cocaines.cas_number </td>
        <td><%= link_to 'Show', cocaine %></td>
        <td><%= link_to 'Edit', edit_cocaine_path(cocaine) %></td>
        <td><%= link_to 'Destroy', cocaine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cocaine', new_cocaine_path %>


<div class="ctinfo1">

</div>

<div class="ctinfo2">

</div>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<script type="text/javascript">
$(function () {
  $.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=usdeur.json&callback=?', function (data) {

      Highcharts.chart('container', {
          chart: {
              zoomType: 'x'
          },
          title: {
              text: 'Duration rate'
          },
          subtitle: {
              text: document.ontouchstart === undefined ?
                      'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
          },
          xAxis: {
              type: 'Timer'
          },
          yAxis: {
              title: {
                  text: 'Dose Level'
              }
          },
          legend: {
              enabled: false
          },
          plotOptions: {
              area: {
                  fillColor: {
                      linearGradient: {
                          x1: 1,
                          y1: 2,
                          x2: 1,
                          y2: 1
                      },
                      stops: [
                          [0, Highcharts.getOptions().colors[0]],
                          [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                      ]
                  },
                  marker: {
                      radius: 5
                  },
                  lineWidth: 1,
                  states: {
                      hover: {
                          lineWidth: 1
                      }
                  },
                  threshold: null
              }
          },

          series: [{
              type: 'area',
              name: 'Low to High',
              data: data
          }]
      });
  });
});
</script>
