<%= form_for(anger) do |f| %>
  <% if anger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(anger.errors.count, "error") %> prohibited this anger from being saved:</h2>

      <ul>
      <% anger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="info">
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :Affection %><br>
  <%= f.text_field :affection %><br>
  <%= f.label :Passive %><br>
  <%= f.text_field :passive %><br>
  <%= f.label :Aggressive %><br>
  <%= f.text_field :aggressive %><br>
  <%= f.label :Expression %><br>
  <%= f.text_field :expression %><br>
  <%= f.label :theory %><br>
  <%= f.text_field :theory %><br>
  <%= f.label :Psychology %><br>
  <%= f.text_field :psychology %><br>
</div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
