<%= form_for(alcohol) do |f| %>
  <% if alcohol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alcohol.errors.count, "error") %> prohibited this alcohol from being saved:</h2>

      <ul>
      <% alcohol.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="info">
    <%= f.label :Name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :Title %><br>
    <%= f.text_field :title %><br>
    <%= f.label :Formula %><br>
    <%= f.text_field :formula %><br>
    <%= f.label :Chemistry %><br>
    <%= f.text_field :chemistry %><br>
    <%= f.label :Side_Effects %><br>
    <%= f.check_box :side_effects, {}, true, false %> <br/>
    </div>
    <%= f.label :Cas_Number %><br>
    <%= f.text_field :cas_number %><br>
  </div>

  <div class="">

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
