  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<p id="notice"><%= notice %></p>

<h1>Alcohols</h1>

<div class="ctinfo1">

</div>


<div class="artwork">

</div>

<table class="linkD">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Formula</th>
      <th>Chemistry</th>
      <th>Side Effects</th>
      <th>Cas Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alcohols.each do |alcohol| %>
      <tr>
        <td><%= alcohol.name %></td>
        <td><%= alcohol.title %></td>
        <td><%= alcohol.formula %></td>
        <td><%= alcohol.chemistry %></td>
        <td><%= alcohol.side_effects %></td>
        <td><%= alcohol.cas_number %></td>
        <td><%= link_to 'Show', alcohol %></td>
        <td><%= link_to 'Edit', edit_alcohol_path(alcohol) %></td>
        <td><%= link_to 'Destroy', alcohol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Alcohol Data', new_alcohol_path %>

<div class="ctinfo1"></div>

<div class="ctinfo2"></div>
<div id="chart_div"></div>
