<!DOCTYPE html>
<html>
  <head>
    <title>Chemical Reaction App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="navbg">
      <div class="logo">
        <h1>Chemical Reaction</h1>
      </div>
      <ul>
        <li><%= link_to "Emotion", emotions_path %></li>
        <li><%= link_to "Drugs", drugs_path %></li>
        <li><%= link_to "Senses", senses_path %></li>
      </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
